<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Box</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/chat.css" rel="stylesheet">

  

</head>
<body>


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="/img/logo.png" alt="">
        <span>The LostBox</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>       
          <li><a class="nav-link scrollto" href="/box">The Box</a></li>  
          <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/chatlist/<%= currentUser._id %>">Chats</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> -->
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->
        
        <br>

        <div id="container">
            <aside>
                <header>
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="search">
                </header>
                <ul id="myMenu">
                    <li>
                      <a href="/chats/<%= currentuser._id %>/<%= receiveruser._id %>">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
                        <div id="chin">
                            <h2><%= receiveruser.fullname %></h2>
                            <!-- <h3>
                                <span class="status orange"></span>
                                offline
                            </h3> -->
                        </div>
                      </a>
                    </li>
                </ul>
            </aside>
            <main>
                <header>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
                    <div>
                        <h2>Chat with <%= receiveruser.fullname %></h2>
                    </div>
                </header>
                <ul id="chat">
                  <% chats.forEach(function(chat) { %>
                    <% if(chat.sender._id == currentuser._id) { %>
                        <li class="me">
                          <div class="entete">
                              <h3><%= chat.time %></h3>
                              <h2><%= chat.sender.name %></h2>
                              <span class="status blue"></span>
                          </div>
                          <div class="triangle"></div>
                          <div class="message">
                            <%= chat.message %>
                          </div>
                      </li>
                     <% } else { %>
                      <li class="you">
                        <div class="entete">
                            <span class="status green"></span>
                            <h2><%= chat.sender.name %></h2>
                            <h3><%= chat.time  %></h3>
                        </div>
                        <div class="triangle"></div>
                        <div class="message">
                          <%= chat.message %>
                        </div>
                    </li>
                     
                    <% } %>
                    <% }) %>
                </ul>
                <footer>
                  <form id="message_form" method="post">
                    <textarea name="message" id="msg" placeholder="Type your message"></textarea>
                    <button id="send-message" class="pull-right btn btn-primary" style="background: #4aa1f3; border: #4aa1f3; ">
                      Send
                  </button>
                  </form>
                </footer>
            </main>
        </div>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/main.js"></script>

        <script>
          var sender={
            email:"<%= currentuser.email %>",
            _id:"<%= currentuser._id %>",
            name:"<%= currentuser.fullname %>",
          }
          var receiver={
            email:"<%= receiveruser.email %>",
            _id:"<%= receiveruser._id %>",
            name:"<%= receiveruser.fullname %>",
          }
          $(document).ready(function(){
              var socket=io();
              socket.on('connect',()=>{
                  //console.log(sender);
                  //console.log(receiver);
                  socket.emit('userInfo',sender);
              });
              $('#message_form').on('submit', function(e){
                  e.preventDefault();                 
                  var message = $('#msg').val(); 
                  
                  // console.log(receiver);                
                  if(message.trim().length > 0){
                      socket.emit('sendMessage',message,sender,receiver, function(){
                          $('#msg').val('');
                      });
                  }
              });
              socket.on('message',(newchat)=>{
                console.log(newchat);
                if(newchat.sender._id==sender._id)
                {
                  var html = '<li class="me">'  + 
                          '<div class="entete">' + 
                              '<h3>' + newchat.time + '</h3>' +
                              '<h2>' + newchat.sender.name + '</h2>' +
                              '<span class="status blue"></span>' +
                          '</div>'+
                          '<div class="triangle"></div>' +
                          '<div class="message">' +
                            newchat.message + 
                          '</div>'
                      '</li>'
                  $('#chat').append(html).stop().animate({scrollTop:$("#chat")[0].scrollHeight},1000);    
                }
                else
                {
                  var html = '<li class="you">'  + 
                          '<div class="entete">' + 
                              '<h3>' + newchat.time + '</h3>' +
                              '<h2>' + newchat.sender.name + '</h2>' +
                              '<span class="status green"></span>' +
                          '</div>'+
                          '<div class="triangle"></div>' +
                          '<div class="message">' +
                            newchat.message + 
                          '</div>'
                      '</li>'
                    $('#chat').append(html).stop().animate({scrollTop:$("#chat")[0].scrollHeight},1000);
                }
              });         
          });
          function myFunction() {
              var input, filter, ul, li, a, i;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              ul = document.getElementById("myMenu");
              li = ul.getElementsByTagName("li");

              // Loop through all list items, and hide those who don't match the search query
              for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0].querySelector("#chin h2").firstChild.nodeValue;
                if (a.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
                } else {
                  li[i].style.display = "none";
                }
              }
            }
        </script>
    
</body>
</html>
