<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The LostBox</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/thebox.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.1.1
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}

    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    input[type=submit] {
      background-color: #283adb;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #4727da;
    }

    .container {
        margin-top: 40px;
        padding-top: 60px;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="/img/logo.png" alt="">
        <span>The LostBox</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>       
           
          <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/notification">Notifications</a></li>
              <li><a href="/chatlist/<%= currentUser._id %>">Chats</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div style="text-align: center;" id="danger" class="alert alert-danger <% if(noMessages){ %> d-none <% } %>" >
        <%= errMsg %>
      </div>
        <form action="/post/<%= post.posts[0].category %>/<%= post.posts[0]._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <label for="fname">Title</label>
            <input type="text" id="fname" name="title" value="<%= post.posts[0].title %>" placeholder="Title.."><br>
            <br>
            <label for="color">Color</label>
            <input type="text" id="color" name="color" value="<%= post.posts[0].color %>" placeholder="Color..">
            <br>
            <label for="brand">Brand name</label>
            <input type="text" id="brand" name="brand" value="<%= post.posts[0].brandname %>" placeholder="Brand Name">
            <br>
            <label for="location">Location</label>
            <input type="text" id="location" name="location" value="<%= post.posts[0].location %>" placeholder="Location of item found">
            <br>
            <label for="size">Category</label>
            <select id="size" name="category" disabled>
                <option value="electronics">ELECTRONICS</option>
                <option value="Wallets">WALLETS</option>
                <option value="cards">CARDS</option>
                <option value="others">OTHER PRODUCTS</option>
            </select><br>
            <br>
            <label for="location">Cost</label>
            <input type="text" id="cost" name="cost" value="<%= post.posts[0].cost %>" placeholder="Enter the Cost">
            <br>
            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="Describe the item.." style="height:200px"><%= post.posts[0].description %></textarea>
            <br>
            
            <div class="center">
                <div class="upload-btn-wrapper">
                    <button class="btn">Upload a file</button>
                    <input type="file" name="photo" accept="image/*" >
                  </div>
            </div>
            <br>
            <input type="submit" value="Submit">

            

          </form>
    </div>
  </section><!-- End Hero -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>


  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
  

</body>

</html>