<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Box</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/thebox.css" rel="stylesheet">

  

</head>
<body>


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="/img/logo.png" alt="">
        <span>The LostBox</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>       
          <li><a class="nav-link scrollto" href="/box">The Box</a></li>  
          <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/chatlist/<%= currentUser._id %>">Chats</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> -->
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
        





        
        <div class="container">
            <div class="sidebar" style="width: 300px; float:left; height:100%; margin:10px">
                <div>
                    <p><h3><b>Categories</b></h3></p>
                </div>
                <br>
                <div class="categories" >
                    <a href="#"><p>Apparels</p></a>
                    <a href="#"><p>Wearables</p></a>
                    <a href="#"><p>Electronic Items</p></a>
                    <a href="#"><p>Books</p></a>

                </div>
                <br>



                <div>
                    <p><h3><b>Approximate Price</b></h3></p>
                </div>

                <br>
                <div class="slidecontainer">
                    <input type="range" min="1" max="10000" value="50" class="slider" id="myRange">
                    <br>
                    <p>Price:Rs. <span id="demo"></span></p>
                  </div>
                  <br>
                  <script>
                  var slider = document.getElementById("myRange");
                  var output = document.getElementById("demo");
                  output.innerHTML = slider.value;
                  
                  slider.oninput = function() {
                    output.innerHTML = this.value;
                  }
                  </script>


                <br>
     

                <div>
                    <p><h3><b>Color</b></h3></p>
                </div>
                  <input type="radio" id="red" name="color">
                  <label for="red">Red</label><br>
                  <input type="radio" id="blue" name="color">
                  <label for="blue">Blue</label><br>
                  <input type="radio" id="black" name="color">
                  <label for="black">Black</label><br>
                  <input type="radio" id="purple" name="color">
                  <label for="purple">Purple</label><br>
                  <input type="radio" id="brown" name="color">
                  <label for="brown">Brown</label><br>
                  <br>
                  <button class="button">Filter</button>

            </div>

<!-- Rightside -->




            <div style="width: 800px; float:left;  margin:10px">
                
                <div class="container">
                  
                  
                  <div class="dropdown">
                    <button class="dropbtn">Default Sorting</button>
                    <div class="dropdown-content">
                      <a href="#">Newest First</a>
                      <a href="#">Price: High to Low</a>
                      <a href="#">Price: Low to High</a>
                    </div>
                  </div>  
                  <br>
                  <br>
                  <% posts.forEach(function(post){ %>
                  <div style="width: 300px; float:left; margin:10px">
                    <img src='<%= post.photo %>' alt=""><br>
                    <br>
                    <h5 style="text-align: center"><a href="/box/<%= post._id %>" title="View Post"><span><%= post.title %></span></a></h5>
                    <h6 style="text-align: center">Category: <%= post.category %></h6>

                  </div>
                  <% }) %>
                  <!-- <div style="width: 300px; float:left; margin:10px">
                    <img src="/img/items/bag1.jfif" alt=""><br>
                    <br>
                    <h5 style="text-align: center">Backpack</h5>
                    <h6 style="text-align: center">Category:Bags</h6>

                  </div>

                  <div style="width: 300px; float:left; margin:10px">
                    <img src="/img/items/bag1.jfif" alt=""><br>
                    <br>
                    <h5 style="text-align: center">Backpack</h5>
                    <h6 style="text-align: center">Category:Bags</h6>

                  </div>
                  <div style="width: 300px; float:left; margin:10px">
                    <img src="/img/items/bag1.jfif" alt=""><br>
                    <br>
                    <h5 style="text-align: center">Backpack</h5>
                    <h6 style="text-align: center">Category:Bags</h6>

                  </div>
                  <div style="width: 300px; float:left; margin:10px">
                    <img src="/img/items/bag1.jfif" alt=""><br>
                    <br>
                    <h5 style="text-align: center">Backpack</h5>
                    <h6 style="text-align: center">Category:Bags</h6>

                  </div>

                  <div style="width: 300px; float:left; margin:10px">
                    <img src="/img/items/bag1.jfif" alt=""><br>
                    <br>
                    <h5 style="text-align: center">Backpack</h5>
                    <h6 style="text-align: center">Category:Bags</h6>

                  </div>

                  <div style="width: 300px; float:left; margin:10px">
                    <img src="/img/items/bag1.jfif" alt=""><br>
                    <br>
                    <h5 style="text-align: center">Backpack</h5>
                    <h6 style="text-align: center">Category:Bags</h6>

                  </div>

                  <div style="width: 300px; float:left; margin:10px">
                    <img src="/img/items/bag1.jfif" alt=""><br>
                    <br>
                    <h5 style="text-align: center">Backpack</h5>
                    <h6 style="text-align: center">Category:Bags</h6>

                  </div>

                  <div style="width: 300px; float:left; margin:10px">
                    <img src="/img/items/bag1.jfif" alt=""><br>
                    <br>
                    <h5 style="text-align: center">Backpack</h5>
                    <h6 style="text-align: center">Category:Bags</h6>

                  </div> -->



                </div>
        </div>
        </div>
</body>